:root {
    --separator-border: rgba(17, 20, 24, 0.15);
}
a:not([class^="bp"]) {
    color: inherit !important;
    text-decoration: none !important;
}
.full-parent-height {
    height: 100%;
}
.full-parent-width {
    width: 100%;
}
.multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
table.entity-section-card-table tr th,
table.entity-section-card-table tr td {
    padding-left: 20px;
    padding-right: 20px;
}
.margin-top-5 {
    margin-top: 5px;
}
.required:after {
    content: " *";
    color: #cd4246;
}
.margin-0 {
    margin: 0px;
}
.bp-border-top {
    border-top: 1px solid rgba(17, 20, 24, 0.15);
}
.bp-border-bottom {
    border-bottom: 1px solid rgba(17, 20, 24, 0.15);
}
