.react-resizable-handle {
    opacity: 0;
    z-index: 2;
}
.react-grid-item.react-grid-placeholder {
    border-radius: 10px;
    /* Colors.GRAY3 */
    background: #8f99a8 !important;
}
.react-draggable-dragging {
    z-index: 4 !important;
}
.custom-card {
    border-top: 1px solid rgba(17, 20, 24, 0.15);
    border-bottom: 1px solid rgba(17, 20, 24, 0.15);
    border-right: 1px solid rgba(17, 20, 24, 0.15);
    border-left: 1px solid rgba(17, 20, 24, 0.15);
    background-color: #ffffff;
}
.bp5-dark .custom-card {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #252a31;
}
.registry-entity-list {
    display: flex;
    flex-flow: wrap;
    --gap: 20px;
    gap: var(--gap);
}
.registry-entity-list[min-width~="0px"] .registry-entity-card {
    --columns: 1;
    width: calc(
        (100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))
    );
}
.registry-entity-list[min-width~="768px"] .registry-entity-card {
    --columns: 2;
    width: calc(
        (100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))
    );
}
.registry-entity-list[min-width~="992px"] .registry-entity-card {
    --columns: 3;
    width: calc(
        (100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))
    );
}
.registry-entity-list[min-width~="1200px"] .registry-entity-card {
    --columns: 4;
    width: calc(
        (100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))
    );
}
.registry-entity-list[min-width~="1600px"] .registry-entity-card {
    --columns: 5;
    width: calc(
        (100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))
    );
}
.registry-entity-list[min-width~="1920px"] .registry-entity-card {
    --columns: 6;
    width: calc(
        (100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns))
    );
}
