.react-resizable-handle {
    opacity: 0;
}
.react-grid-item.react-grid-placeholder {
    border-radius: 10px;
    /* Colors.GRAY3 */
    background: #8f99a8 !important;
}
.react-draggable-dragging {
    z-index: 4 !important;
}
