docker==7.0.0
fastapi==0.110.0
jsonmerge==1.9.2
jsonpath_ng==1.5.3
neo4j==5.12.0
numpy==1.25.2
pydantic==1.8.2
pydash==7.0.6
pymongo==4.6.1
redis==4.5.5
rpyc==6.0.0
sentence_transformers==2.2.2
tqdm==4.65.0
uvicorn==0.25.0
websocket_client==1.7.0
websockets==11.0.3
firebase-admin==6.5.0
jsonschema==4.21.1